<%- include('./components/Head')%>

<body>

  <header>
    <%- include('./components/Navbar')%>
  </header>

  <h4>Historia zadań</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa zadania</th>
        <th scope="col">Szczegóły/opis zadania</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Data przydzielenia zadania</th>
        <th scopr="col">Data rozpoczęcia</th>
        <th scope="col">Data zakończenia</th>
        <th scope="col">Czas pracy</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
  </table>

  <h4>Historia serwisów</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Maszyna</th>
        <th scope="col">Opis</th>
        <th scope="col">Data rozpoczęcia</th>
        <th scope="col">Data zakończenia</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
  </table>

  <h4>Historia zgłoszeń</h4>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kto zgłosił</th>
        <th scope="col">Opis</th>
        <th scope="col">Data dodania</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
  </table>

</body>