<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/template.css">
  <title>Majster</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-warning" href="/users/Dashboard">Majster</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/users/UsersList">Pracownicy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Maszyny</a>
        </li>

      </ul>
      
      <form class="form-inline my-2 my-lg-0" action="/Logout" method="POST">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Wyloguj się</button>
      </form>
      
    </div>
  </nav>


  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/users/AddUser" method="POST">
      <div class="form-group">
        <label for="">Podaj imię pracownika</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Imię pracownika" required>
      </div>
      <div class="form-group">
        <label for="">Podaj nazwisko pracownika</label>
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Nazwisko pracownika" required>
      </div>
      <div class="form-group">
        <label for="">Podaj email pracownika</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email pracownika" required>
      </div>
      <div class="form-group">
        <label for="">Podaj login pracownika</label>
        <input type="text" class="form-control" id="login" name="login" placeholder="Login pracownika" required>
      </div>
      <div class="form-group">
        <label for="">Podaj hasło pracownika</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Hasło pracownika" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Podaj rolę pracownika</label>
        <select multiple class="form-control" id="role" name="role">
          <option value="admin">Admin</option>
          <option value="user">Użytkownik</option>
          <option value="repairer">Serwisant</option>
        </select>
      </div>

      <button type="submit" class="btn btn-warning">Dodaj użytkownika</button>

    </form>


  </div>
    <ul>
      <% if(typeof errors != 'undefined') { %> 
        <% errors.forEach(error=>{%>
          <li><%= error.message %></li>
        
          
     <% })  %> <% } %>
    </ul>

</body>
</html>
