<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <div class="col-md-12 text-center font-weight-bold mt-5">
    <p>Zalogowano jako <%=user%></p>
  </div>

</body>


