<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/template.css">
  <title>Majster</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-warning" href="/users/Dashboard">Majster</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/users/UsersList">Pracownicy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Maszyny</a>
        </li>

      </ul>
      
      <form class="form-inline my-2 my-lg-0" action="/Logout" method="POST">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Wyloguj się</button>
      </form>
      
    </div>
  </nav>
  
  <button class="btn btn-warning"><a href="/users/AddUser" >Dodaj nowego użytkownika</a></button>
  <table>
    <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Rola</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>

