<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/realizes/AddRealize/<%= realizeId %>" method="POST">
      <div class="form-group">
        <label for="">Kto ma wykonać</label>
        <input type="number" class="form-control" id="who_do" name="who_do">
      </div>
      <div class="form-group">
        <label for="">Na jakiej maszynie</label>
        <input type="number" class="form-control" id="machine" name="machine"/>
      </div>
      <button type="submit" class="btn btn-warning">Zleć realizacje</button>
    </form>
  </div>

</body>