<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-warning" href="/users/Dashboard">Majster</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-warning"><a href="/alerts/AddAlert" class="text-decoration-none text-dark">Zgłoś awarię</a></button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users/UsersList">Pracownicy</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/machines/MachinesList">Maszyny</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/tasks/TaskList">Zadania</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/services/ServicesList">Serwis</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/alerts/AlertsList">Zgłoszenia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/realizes/RealizesList">W realizacji</a>
            </li>

      </ul>
      
      <form class="form-inline my-2 my-lg-0" action="/Logout" method="POST">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Wyloguj się</button>
      </form>
    </div>
</nav>