<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-warning" href="/users/Dashboard">Majster</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <button class="btn btn-light"><a href="/users/UsersList" class="text-decoration-none text-secondary">Pracownicy</a></button>
            </li>

            <li class="nav-item">
                <button class="btn btn-light"><a href="/machines/MachinesList" class="text-decoration-none text-secondary">Maszyny</a></button>
            </li>

            <li class="nav-item">
                <button class="btn btn-light"><a href="/tasks/TaskList" class="text-decoration-none text-secondary">Zadania</a></button>
            </li>

            <li class="nav-item">
                <button class="btn btn-light"><a href="/services/ServicesList" class="text-decoration-none text-secondary">Serwis</a></button>
            </li>

            <li class="nav-item">
                <button class="btn btn-light"><a href="/alerts/AlertsList" class="text-decoration-none text-secondary">Zgłoszenia</a></button>
            </li>

            <li class="nav-item">
                <button class="btn btn-light"><a href="/realizes/RealizesList" class="text-decoration-none text-secondary">W realizacji</a></button>
            </li>

            <li>
                <button class="btn btn-light"><a href="/History" class="text-decoration-none text-secondary">Historia</a></button>
            </li>

            <li>
                <button class="btn btn-light"><a href="/alerts/AddAlert" class="text-decoration-none text-danger">Zgłoś awarię</a></button>
            </li>

      </ul>

      <form class="form-inline my-2 my-lg-0 " action="/Logout" method="POST">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Wyloguj się</button>
      </form>
      
    </div>
</nav>